:root {
  /* Colors */  
  --body-bgr-color: #f5f5f5;
  --body-color: #2e2f42;

  --menu-item-accent: #404bbf;
  --menu-color: #434455; 

  --form-bgr-color: #ffffff;
  --item-bgr-color: #f6f6fe;

  --border-normal-color: #808080;
  --border-hover-color: #000000;
  --border-active-color: #808080;

  --button-color: #ffffff;
  --primary-button-bgr-color: #4e75ff;
  --primary-button-accent-bgr-color: #6c8cff;

  --secondary-button-bgr-color: #ff4e4e;
  --secondary-button-accent-bgr-color: #ff7070;
}
